# CMake build artifacts
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/.DS_Store

# Build directories
build/
out/
Builds/*
!Builds/.gitkeep

# Visual Studio artifacts
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.sln.docstates
x64/
Release/
Debug/
.vs/

# JUCE artifacts
JuceLibraryCode/
*_artefacts/
*.dir/

# This should never exist
Install/*

# Running CTest makes a bunch o junk
Testing

# IDE config
.idea
.cursor/
.claude/

# OS artifacts
**/.DS_Store
.vscode/
*.tmp
*.temp
nul

# Archive files
*.zip
*.tar.gz

# clion cmake builds
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
packaging/Output/*

# Local test outputs
*.wav
*.aiff

# Debian packages
*.deb

# Session data
sessions/

# Generated shortcuts
*.lnk